<section class="carousel">
  <section class="weekly">
        <div class="section-heading">
          <div class="section-heading__title">
            <span>NEW</span>
            <span>THIS WEEK</span>
          </div>
          <span class="section-heading__count">(50)</span>
        </div>
        <div class="weekly__grid">
          <!-- Products will be loaded from Supabase -->
        </div>
        <div class="weekly__controls">
          <button class="icon-button icon-button--outline is-muted" type="button">
            <span class="icon-arrow-left"></span>
          </button>
          <button class="icon-button icon-button--outline" type="button">
            <span class="icon-arrow-right"></span>
          </button>
        </div>
      </section>
</section>