<section class="fashion">  
    <section class="approach">
        <h2 class="approach__title">OUR APPROACH TO FASHION DESIGN</h2>
        <p class="approach__description">
          at elegant vogue , we blend creativity with craftsmanship to create fashion that
          transcends trends and stands the test of time each design is meticulously crafted,
          ensuring the highest quelity exqulsite finish
        </p>
        <div class="approach__grid">
          <div class="image-card image-card--tall">
            <img src="assets/images/home-approach-1.png" alt="Approach 1" />
          </div>
          <div class="image-card image-card--tall">
            <img src="assets/images/home-approach-2.png" alt="Approach 2" />
          </div>
          <div class="image-card image-card--tall image-card--offset">
            <img src="assets/images/home-approach-3.png" alt="Approach 3" />
          </div>
          <div class="image-card image-card--tall">
            <img src="assets/images/home-approach-4.png" alt="Approach 4" />
          </div>
        </div>
      </section>
</section>