<header class="header">
  <div class="header__container">
    <button class="header__menu" type="button" aria-label="Open menu">
      <img src="assets/icons/icon-menu.png" alt="" />
    </button>
    <nav class="header__nav" aria-label="Primary">
      <a class="header__link" data-page="home" href="index.html">Home</a>
      <a class="header__link" data-page="products" href="products.html">Collections</a>
      <a class="header__link" data-page="products" href="products.html#new">New</a>
    </nav>
    <div class="header__logo">
      <img src="assets/icons/icon-logo.png" alt="XIV" />
    </div>
    <div class="header__actions">
      <button class="header__icon" type="button" aria-label="Search">
        <img src="assets/icons/icon-search-circle.png" alt="" />
      </button>
      <button class="header__cart" type="button">Cart</button>
      <button class="header__icon" type="button" aria-label="Favorites">
        <img src="assets/icons/icon-favorite-circle.png" alt="" />
      </button>
      <button class="header__icon" type="button" aria-label="Account">
        <img src="assets/icons/icon-user-circle.png" alt="" />
      </button>
    </div>
  </div>
</header>
