<header class="header">
  <div class="header__container">
    <button class="header__menu" type="button" aria-label="Open menu">
      <img src="assets/icons/icon-menu.png" alt="" />
    </button>
    <div class="header__logo">
      <img src="assets/icons/logo_black.png" alt="Laura" />
    </div>
    <nav class="header__nav" aria-label="Primary">
      <a class="header__link" data-page="home" href="index.html">Home</a>
      <a class="header__link" data-page="products" href="products.html">Collections</a>
      <a class="header__link" data-page="products" href="products.html#new">New</a>
    </nav>
    <div class="header__actions">
      <button class="header__icon header__icon--search" type="button" aria-label="Search"></button>
      <button class="header__icon header__icon--cart" type="button" aria-label="Cart"></button>
      <button class="header__icon header__icon--account" type="button" aria-label="Account"></button>
    </div>
  </div>
</header>
